/**

Mixins

***/

@mixin box-border ($color) {
  border: $border-width solid $color;
}

@mixin form-text () {
//  color:$accent;
	font-size: 1.15em;
}

@mixin triangle ($color) {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0;
  margin: 0 auto;
  border-color: $color transparent transparent;
  position: absolute;
  top: 100%;
  left: 45%;
  z-index: 20;

  @media (min-width: 40em) {
    left: 48%;
  }
}

@mixin skew-border ($color, $angle) {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  height: 55px;
  background-color: $color;
  transform: skewY($angle);
}

@mixin skew-none () {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  transform: skewY(0);
}
