/**
  Variables
***/

$color-base: black;
$accent: green;
$background-base: white;
$background-accent: aliceblue;

$border-width: 1px;

$serif: 'Roboto Slab', serif;
$sans: 'Roboto', Arial, sans-serif;
